
     <h4> <%= "There are #{@list.count} contacts"%> </h4>

       <% @list.each do |contact| %>

       <section>
          <div>
             <%=  contact.full_name %>
             <ul>
               <li>email: <%=  contact.email %></li>
               <li>note:  <%=  contact.note  %></li>
               <li>id:    <%=  contact.id    %></li>
               <li>age:   <%=  contact.age   %></li>
            </ul>
          </div>

          <div>
            <a href="/contacts/<%= contact.id%>"><%=contact.first_name%></a>
            <a href="/delete_contact"> Delete a contact </a>
            <a href="/edit_contact"> Edit a contact </a>

          </div>

        </section>

       <% end %>
